* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4)50%, rgba(0, 0, 0, 0.4)50%), url(red.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: rgb(255, 191, 0);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0px;
    float: left;
    padding-top: 21px;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 67px;
    margin-top: 38px;
    font-size: 17px;
}

ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    color: white;
}

ul li a:hover {
    color: rgb(251, 235, 4);
}

.search {
    width: 330px;
    float: left;
    margin-left: 270px;
    margin-top: 18px;
}

.srch {
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    font-size: 21px;
    color: white;
    border: 1px solid rgb(255, 179, 0);
    border-right: none;
    float: left;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: rgb(255, 191, 0);
    border: 2px solid rgb(255, 191, 0);
    color: white;
    font-size: 17px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}

.content p {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: #ff7200;
    color: white;
    border: none;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s ease;
    text-decoration: none;
}

.cn:hover {
    background-color: white;
    color: #ff7200;
}

.content span {
    color: rgb(255, 189, 32);
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    width: 283px;
    height: 394px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 17px;
    padding: 8px;
    position: relative;
    right: -6px;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom-color: #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 10px;
    font-family: sans-serif;
    margin-left: 20px;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
}

.btnn {
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
    margin-left: 20px;
    color: white;
}

.btnn:hover {
    color: #ff7200;
}

.btnn:hover {
    background: white;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    position: relative;
    right: 7px;
}

.form .link a {
    text-decoration: none;
    font-size: 20px;
    color: #ff7200;
}

.form span {
    position: relative;
    color: white;
    top: -6px;
}

.liw {
    /* padding-top: 15px;
    padding-bottom: 10px; */
    text-align: center;
    position: relative;
    top: -38px;
    left: -4px;
}

#media {
    size: 10px;
}